.card {
  list-style-type: none;
  padding-left: 0;
  @include tablet {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include desktop {
    padding-left: 100px;
    padding-right: 100px;
  }

  @include mobile-width-only {
    padding: 23px 20px 23px;
    border-bottom: 1px solid $decoration-color;
  }

  &:first-child {
    @include mobile-width-only {
      border-top: 1px solid $decoration-color;
    }
  }
}

.card__item {
  position: relative;
  background-color: $secondary-text;
  color: $basic-back;
}


.card__item:nth-child(4) {
  @include tablet {
    grid-column: 1 / 3;
  }
}

.card__photo {
  width: 100%;
  object-fit: cover;

  @include tablet {
    display: block;
    height: 267px;

    &--main {
      height: 400px;
    }
  }
}

.card__title {
  background-color: $secondary-text;
  color: $basic-back;
  border-radius: 10px;
  font-weight: 700;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  padding: 5px 10px 5px;
}

.card__link {
  text-decoration: none;
  color: inherit;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 4;
}

.card__author {
  background-color: $secondary-text;
  color: $basic-back;
  border-radius: 10px;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  padding: 5px 10px 5px;
}

.card__info-container {
  color: $basic-back;
  @include tablet {
    display: flex;
    justify-content: space-between;
  }

  @include desktop {
    position: absolute;
    bottom: 0px;
    box-sizing: border-box;
    padding: 19px 20px 18px;
  }
}

.card__button {
  display: block;
  border: none;
  background-color: transparent;
  margin-right: 5px;
}

.card__title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card__like-container {
  display: flex;
  padding-top: 15px;
  align-items: center;

  @include tablet {
    padding-top: 0;
  }
}

.card__button-icon {
  opacity: 0.3;

  @include desktop {
    color: $additional-color-text;
    opacity: 1;
  }
}

.card__results {
  font-weight: 700;
  margin: 0;
}
