.intro {
  @include mobile-width-only{
    padding: 20px;
  }
}

.intro__wrap-text {
  @include tablet {
    text-align: right;
    position: absolute;
    z-index: 2;
    top: 220px;
    left: 330px;
  }

  @include desktop {
    left: 720px;
    top: 300px;
  }
}

.intro__title {
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: $secondary-text;
  color: $basic-back;

  @include tablet {
    display: inline-block;
    padding: 5px;
    margin-bottom: 0;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 4;
  }
  @include desktop {
    line-height: 38px;
  }
}

.intro__text {
  background-color: $secondary-text;
  color: $basic-back;
  border-radius: 10px;

  @include tablet {
    margin-top: 0;
    text-align: right;
    padding: 5px 10px;
  }
  @include desktop {
    font-size: 18px;
    line-height: 24px;
  }
}
