
.intro__wrap-text {
  @include tablet {
    text-align: right;
    position: absolute;
    z-index: 2;
    top: 220px;
    left: 330px;
  }

  @include desktop {
    left: 820px;
    top: 300px;
  }
}

.intro__title {
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  @include tablet {
    display: inline-block;
    background-color: white;
    padding: 5px;
    margin-bottom: 0;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 4;
  }
  @include desktop {
    line-height: 38px;
  }
}

.intro__text {
  @include tablet {
    margin-top: 0;
    background-color: white;
    text-align: right;
    padding: 5px 10px;
  }
  @include desktop {
    font-size: 18px;
    line-height: 24px;
  }
}
