.main-header {
  background-color: $seconadary-back;
  position: relative;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.main-header__logo {
  margin-right: 68px;
  margin-left: 37px;
  position: absolute;
  z-index: 1;
  left: 0;

  @include tablet {
    z-index: 3;
    left: 0;
    margin-left: 10px;
  }

  @include desktop {
    left: 0;
  }
}

.main-header__logo-image {
  display: block;
}

.main-header__tel {
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  font-family: "Ubuntu";
  color: $secondary-text;
  align-self: center;
};

.main-header__phone-icon {
  margin-right: 10px;
  margin-top: 17px;
};
