.page__body {
    margin: 0 auto;
  
    @include desktop {
      background-color: $inputs-color;
    }
  }
  
  .page__container {
    min-width: 320px;
    font-family: "Ubuntu", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    background-color: $basic-back;
    color: $basic-text;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
  
    @include tablet {
      width: 768px;
    }
  
    @include desktop {
      width: 1200px;
      box-shadow: 0 4px 4px 0 rgba($basic-text, 0.25);
    }
  }
  
  .page__wrapper {
    @include tablet {
      padding: 0 60px;
    }
  }
  
  