.site-list {
  list-style-type: none;
  background-color: #F5F5F5;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;

  @include tablet {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: $seconadary-back;
    color: $basic-text;
    margin: 0;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    background-repeat: no-repeat;
    height: 7px;
    bottom: 0;

    @include tablet {
      display: none;
    }
  }
}

.site-list__item {
  text-transform: uppercase;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  &:last-child {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }

  @include mobile-width-only {
    &:hover {
      background-color: $basic-back-hover;
    }

    &:active {
      background-color: $basic-back-active;
      color: rgba($additional-color-text, 0.3);
    }
  }

  @include tablet {
    width: 133px;
    box-shadow: none;
  }

  @include desktop {
    box-shadow: none;
  }
}

.site-list__link {
  display: block;
  color: $basic-text;
  text-decoration: none;
  font-size: 18px;
  line-height: 26px;
  padding: 17px 83px 12px 81px;

  @include tablet {
    font-size: 14px;
    line-height: 21px;
    color: $basic-text;
    padding: 18px 0 17px;
    text-align: center;
  }

  &--current {
    @include tablet {
      color: $additional-color-text;
    }
  }
}


@include tablet {
  .site-list__item:first-child {
    margin-left: 230px;
  }
}

.site-list__link:hover {
  @include tablet {
    color: $additional-color-text;
  }
}

.site-list__link:active {
  color: rgba($additional-color-text, 0.3);

  @include tablet {
    color: rgba($basic-text, 0.3);
  }
}
