$basic-back: #FFFFFF;
$basic-back-hover: #669ec0;
$basic-back-active: #5496bd;
$additional-color-text: #60B021;
$seconadary-back: #F5F5F5;
$inputs-color: #f2f2f2;
$basic-text: #000000;
$secondary-text: #75758A;
$decoration-color: #e5e5e5;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
