@import "blocks/fonts";
@import "blocks/variable";
@import "mixins.scss";
@import "visually-hidden";
@import "blocks/page";
@import "blocks/button";
@import "blocks/main-nav";
@import "blocks/site-list";
@import "blocks/main-header";
@import "blocks/card";
@import "blocks/intro";
@import "blocks/main-footer";
@import "blocks/list";
@import "blocks/fialka";